[Unit]
Description=simple watchdog
After=syslog.target

[Service]
WorkingDirectory=/usr/local/share/simple-watchdog
SyslogIdentifier=johndoe
ExecStart=/bin/bash -c "/path/to/jdk/bin/java -jar /usr/local/share/simple-watchdog/simple-watchdog.jar"
User=johndoe
Type=simple
WatchdogSec=30s
Restart=always

[Install]
WantedBy=multi-user.target